<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='main.js') }}"></script>

        <title>Weather Station</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flashed-messages-container">
              {% for category, message in messages %}
                <div class="flashed-message-container flashed-message-container-{{ category }}">
                    <span>
                        {{ message }}
                    </span>
                </div>
              {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>