{% extends "base_templates/base.html" %}
{% block content %}

<div class="main-container">
    <div class="horizontal-centered-container">
        <div class="navbar">
            <div class="navbar-container">
                <div class="navbar-header">
                    <a href="{{ url_for('dashboard.home') }}">
                        Weather Station
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="#">
                        Graphs
                    </a>
                </div>
            </div>
        </div>
        <div id="content-container" class="content-container">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}